@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100vh;
  width: auto;
}

body {
  font-family: 'Poppins', sans-serif;
}

.admin-form {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(87deg, rgba(58,167,180,1) 0%, rgba(29,124,253,1) 50%, rgba(79,90,173,1) 100%);
}

.form-section {
  position: relative;
  width: 380px;
  height: 480px;
  background: rgba(132, 160, 219, 0.6);
  box-shadow:  0px 0px 8px 4px rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 2px solid rgba(132, 160, 219, 0.6);
  z-index: 1;
}

.half-circle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(59, 19, 92);
  border-radius: 20px;
  z-index: -2;
  clip-path: circle(98% at 0 0);
}

.form-heading {
  font-size: 35px;
  text-align: center;
  color: #ffffff;
}

.underline {
  width: 60%;
  border: 2px solid #ffffff;
  display: flex;
  flex-direction: column;
  margin-left: 20%;
}

.form_input-box {
  position: relative;
  margin: 30px 0;
  width: 100%;
  border-bottom: 2px solid #ffffff;
}

.form_input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50);
  color: #e1d6d6;
  font-size: 16px;
  pointer-events: none;
  transition: .4s;
}

input:focus ~ label {
  top: -6px;
}

.form_input-box input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 0 36px 0 6px;
  color: #ffffff;
}

.form_rememberMe {
  margin: -16px 0 16px;
  font-size: 12px;
  color: #ffffff;
  display: flex;
  justify-content: center;
}

.form_rememberMe span {
  margin-left: 2px;
}

.login-btn {
  width: 100%;
  height: 50px;
  border-radius: 40px;
  background: linear-gradient(87deg, rgba(38,74,162,1) 0%, rgba(95,36,154,1) 50%, rgba(79,173,166,1) 100%);
  border: 1px solid #ffffff;
  cursor: pointer;
  font-size: 20px;
}

.login-btn:hover {
  background: #ffffff;
  color: #000000;
  box-shadow:  0px 0px 12px 6px rgba(0, 0, 0, 0.6);
}